@charset "UTF-8";
/*!
=================================================
======== *このcssは、sassで構成されています。 ========
=================================================
*/
/*!
global > _color.scss
--------------------------------
*/
:root {
  --color-bg-base: #fff;
  --color-bg-dark: #000;
  --color-bg-main: #391e88;
  --color-bg-accent: #f0f0f0;
  --color-bg-sub: #f7f7f7;
  --color-bg-tag: #e8e8e8;
  --color-bg-nav: linear-gradient(to top, #250d65 0%, #7633a4 100%);
  --color-font-base: #333;
  --color-font-main: #391e88;
  --color-font-light: #fff;
  --color-font-marker: linear-gradient(transparent 70%, #f3f534 0%);
  --color-bg-button: linear-gradient(to left, #250d65 0%, #7633a4 100%);
  --color-bg-button--hover: linear-gradient(to right, #250d65 0%, #7633a4 100%);
  --color-bg-button--border: #fff;
  --color-font-button: #fff;
  --color-bg-icon: #fff;
  --color-bg-icon-active: #f1ebf8;
  --color-bg-icon-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  --color-bg-icon-gradient: linear-gradient(to left, #250d65 0%, #7633a4 100%);
  --color-icon: #391e88;
  --color-icon-light: #fff;
  --color-icon-dark: #333;
}

/*!
global > _font.scss
--------------------------------
*/
:root {
  --font-family-base: "Hiragino Kaku Gothic ProN", sans-serif;
  --font-family-en: "Montserrat", sans-serif;
}

/*!
global > _content-width.scss
--------------------------------
*/
:root {
  --content-width: min(92%, 1110px);
  --content-width-xs: min(92%, 720px);
  --content-width-sm: min(92%, 750px);
  --content-width-lg: min(92%, 1300px);
}

/*!
global > _z-index.scss
--------------------------------
*/
:root {
  --z-index-modal: 1000;
  --z-index-header: 100;
  --z-index-tooltip: 10;
  --z-index-default: 1;
  --z-index-bg: -1;
}

/*!
foundation > _reset.scss
--------------------------------
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

details,
main {
  display: block;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-color: inherit;
  text-indent: 0;
}

input,
button,
select,
textarea {
  font: inherit;
  background-color: transparent;
  border-style: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

[disabled] {
  cursor: default;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  width: 100%;
  height: auto;
}

/*!
foundation > _base.scss
--------------------------------
*/
html {
  font-size: 100%;
  scroll-behavior: smooth;
  background: var(--color-bg-base);
}

body {
  min-height: 100dvh;
  font-family: var(--font-family-base);
  font-size: clamp(0.875rem, 0.853rem + 0.09vw, 0.938rem);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: var(--color-font-base);
}

.js-body.is-active {
  overflow: hidden;
}

/*!
utility > _utility.scss
--------------------------------
*/
@media (width >= 768px) {
  .u-sp-br {
    display: none;
  }
}

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  margin: -1px !important;
}

/*!
component > _heading.scss
--------------------------------
*/
.c-heading-lv2 {
  font-family: var(--font-family-en);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-font-main);
}

.c-heading-lv2--sub {
  display: block;
  -webkit-margin-after: clamp(0.188rem, 0.143rem + 0.19vw, 0.313rem);
          margin-block-end: clamp(0.188rem, 0.143rem + 0.19vw, 0.313rem);
  font-family: var(--font-family-en);
  font-size: clamp(1.875rem, 1.743rem + 0.56vw, 2.25rem);
  font-weight: bold;
  text-transform: uppercase;
}

.c-heading-lv2--center {
  text-align: center;
}

.c-heading-lv2--left {
  text-align: center;
}
@media (width >= 768px) {
  .c-heading-lv2--left {
    text-align: inherit;
  }
}

.c-heading-lv2--light {
  color: var(--color-font-light);
}

.c-heading-lv2--ja {
  font-size: clamp(1.5rem, 1.324rem + 0.75vw, 2rem);
  line-height: 1;
}

/*!
component > _button.scss
--------------------------------
*/
.c-button {
  position: relative;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(100%, 220px);
  height: 56px;
  font-family: var(--font-family-en);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 100vmax;
  color: var(--color-font-button);
  z-index: var(--z-index-default);
}

.c-button::before,
.c-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-bg-button);
  border-radius: 100vmax;
  z-index: var(--z-index-bg);
}

.c-button::after {
  background: var(--color-bg-button--hover);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

@media (any-hover: hover) {
  .c-button:hover::after {
    opacity: 1;
  }
}
.c-button--transparent {
  border: 1px solid var(--color-bg-button--border);
  background: transparent;
}

.c-button--transparent::before,
.c-button--transparent::after {
  content: none;
}

.c-button__icon {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

@media (any-hover: hover) {
  .c-button:hover .c-button__icon {
    right: 8px;
  }
}
.c-button--left {
  margin-inline: inherit;
}
@media (width >= 768px) {
  .c-button--left {
    margin-inline: auto;
  }
}

.c-button--center {
  margin-inline: auto;
}

/*!
component > _back-to-top.scss
--------------------------------
*/
.c-back-to-top {
  position: fixed;
  right: 5%;
  bottom: 10px;
  z-index: var(--z-index-tooltip);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}
@media (width >= 768px) {
  .c-back-to-top {
    right: 3%;
    bottom: 3%;
  }
}

.js-c-back-to-top.is-active {
  visibility: visible;
  opacity: 1;
}

.c-back-to-top__button {
  position: relative;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 100vmax;
  -webkit-box-shadow: var(--color-bg-icon-shadow);
          box-shadow: var(--color-bg-icon-shadow);
  background: var(--color-bg-icon);
}

.c-back-to-top__icon {
  font-size: 15px;
  color: var(--color-icon);
}

/*!
component > _breadcrumb.scss
--------------------------------
*/
.c-breadcrumb {
  position: sticky;
  top: 64px;
  z-index: var(--z-index-tooltip);
  background: var(--color-bg-accent);
}
@media (width >= 768px) {
  .c-breadcrumb {
    top: 86px;
  }
}

.c-breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}
@media (width >= 768px) {
  .c-breadcrumb__list {
    height: 43px;
  }
}

.c-breadcrumb__list::-webkit-scrollbar {
  display: none;
}

.c-breadcrumb__item:not(:last-child)::after {
  content: ">";
  display: inline-block;
  padding-inline: 7px;
}

.c-breadcrumb__link {
  display: inline-block;
  font-family: var(--font-family-en);
  font-size: clamp(0.688rem, 0.665rem + 0.09vw, 0.75rem);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  .c-breadcrumb__link:not(.c-breadcrumb__link--active):hover {
    color: var(--color-font-main);
  }
}
.c-breadcrumb__link--active {
  color: var(--color-font-main);
}

/*!
component > _scroll-down.scss
--------------------------------
*/
.c-scroll-down {
  position: absolute;
  bottom: 0;
  right: 4%;
}

.c-scroll-down__text {
  position: absolute;
  bottom: 90px;
  font-family: var(--font-family-en);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: var(--color-font-light);
}

.c-scroll-down__text::after {
  content: "";
  position: absolute;
  bottom: -90px;
  left: calc(50% - 1px);
  width: 1px;
  height: 80px;
  background: var(--color-bg-base);
  -webkit-animation: scroll-line 1.4s linear infinite;
          animation: scroll-line 1.4s linear infinite;
}

@-webkit-keyframes scroll-line {
  from {
    height: 80px;
    opacity: 0;
  }
  50% {
    height: 40px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes scroll-line {
  from {
    height: 80px;
    opacity: 0;
  }
  50% {
    height: 40px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
/*!
component > _pagination.scss
--------------------------------
*/
.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.c-pagination__link {
  display: grid;
  place-items: center;
  width: 45px;
  aspect-ratio: 1;
  border-radius: 100vmax;
  font-family: var(--font-family-en);
  font-size: 1.25rem;
  font-weight: bold;
  background: var(--color-bg-icon-gradient);
  color: var(--color-icon-light);
}

.c-pagination__link--active {
  color: var(--color-icon-dark);
  background: var(--color-bg-icon-active);
}

/*!
component > _mv.scss
--------------------------------
*/
.c-mv {
  position: relative;
  height: 180px;
  -webkit-padding-before: 82px;
          padding-block-start: 82px;
}
@media (width >= 768px) {
  .c-mv {
    height: 240px;
    -webkit-padding-before: 87px;
            padding-block-start: 87px;
  }
}

.c-mv__image {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-bg);
}

.c-mv__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

/*!
component > _contact.scss
--------------------------------
*/
.c-contact {
  padding-block: clamp(3.75rem, 3.53rem + 0.94vw, 4.375rem);
  background: var(--color-bg-sub);
}

.c-contact__text {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  text-align: center;
}

.c-contact__button {
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}

/*!
component > _card.scss
--------------------------------
*/
.c-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

@media (width >= 768px) {
  .c-card--col3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

/*!
component > _media.scss
--------------------------------
*/
.c-media {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media (width >= 768px) {
  .c-media {
    gap: 60px;
  }
}

.c-media__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (width >= 768px) {
  .c-media__item {
    grid-template-columns: 50% 1fr;
  }
}
@media (width >= 1080px) {
  .c-media__item {
    grid-template-columns: 450px 1fr;
    gap: 50px;
  }
}

/*!
component > _text-box.scss
--------------------------------
*/
.c-text-box__text {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  text-align: center;
}

.c-text-box__button {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

/*!
component > _date-list.scss
--------------------------------
*/
.c-date__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (width >= 768px) {
  .c-date__list {
    gap: 15px;
  }
}

.c-date__item {
  display: grid;
  gap: 2px 20px;
  grid-template-columns: 1fr;
}
@media (width >= 768px) {
  .c-date__item {
    grid-template-columns: auto 1fr;
  }
}

.c-date__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.c-date__title {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}

@media (any-hover: hover) {
  .c-date__link:hover {
    text-decoration: underline;
  }
}
.c-date__tag {
  display: inline-block;
  width: 80px;
  height: 24px;
  padding: 2px 4px;
  font-size: clamp(0.688rem, 0.667rem + 0.09vw, 0.75rem);
  font-weight: 600;
  text-align: center;
  background: var(--color-bg-tag);
  border-radius: 100vmax;
}
@media (width >= 768px) {
  .c-date__tag {
    height: 26px;
  }
}

/*!
component > _company.scss
--------------------------------
*/
.c-company {
  position: relative;
  -webkit-padding-before: clamp(5.938rem, 4.947rem + 4.23vw, 8.75rem);
          padding-block-start: clamp(5.938rem, 4.947rem + 4.23vw, 8.75rem);
  -webkit-padding-after: clamp(3.125rem, 2.685rem + 1.88vw, 4.375rem);
          padding-block-end: clamp(3.125rem, 2.685rem + 1.88vw, 4.375rem);
}

.c-company--top {
  padding-block: clamp(3.75rem, 1.989rem + 7.51vw, 8.75rem);
}

.c-company__image {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: var(--z-index-bg);
}
@media (width >= 768px) {
  .c-company__image {
    left: 50%;
    translate: -50%;
    width: var(--content-width-lg);
  }
}

.c-company__image--top {
  inset: 0;
}
@media (width >= 768px) {
  .c-company__image--top {
    top: 51px;
    left: 50%;
    translate: -50%;
    width: var(--content-width-lg);
  }
}

.c-company__inner {
  -webkit-margin-before: clamp(1.875rem, 1.787rem + 0.38vw, 2.125rem);
          margin-block-start: clamp(1.875rem, 1.787rem + 0.38vw, 2.125rem);
}

.c-company__inner--top {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.c-company__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: clamp(2rem, 1.824rem + 0.75vw, 2.5rem);
  line-height: 1;
  background: var(--color-font-marker);
}

.c-company__text {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  text-align: center;
}

.c-company__button {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.c-company__media {
  -webkit-margin-before: clamp(3.75rem, 1.549rem + 9.39vw, 10rem);
          margin-block-start: clamp(3.75rem, 1.549rem + 9.39vw, 10rem);
}

.c-company__media-text:not(:first-child) {
  -webkit-margin-before: clamp(1.563rem, 1.518rem + 0.19vw, 1.688rem);
          margin-block-start: clamp(1.563rem, 1.518rem + 0.19vw, 1.688rem);
}

/*!
component > _definition-list.scss
--------------------------------
*/
.c-definition__item {
  padding-inline: 10px;
  padding-block: 30px;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid var(--color-bg-accent);
}
@media (width >= 768px) {
  .c-definition__item {
    display: grid;
    grid-template-columns: 20% 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-definition__term {
  font-weight: 600;
}

/*!
component > _form.scss
--------------------------------
*/
.c-form__item:not(:first-child) {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.c-form__title {
  font-size: 0.9375rem;
  font-weight: bold;
}

.c-form__required {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-font-main);
}

.c-form__comment {
  font-size: 0.75rem;
  font-weight: 400;
}

.c-form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 9px 35px;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  font-size: 0.9375rem;
  line-height: 1.2;
}

.c-form__item input[type=radio] {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.c-form__item input[type=text],
.c-form__item input[type=email],
.c-form__item input[type=tel],
.c-form__item textarea,
.c-form__item select {
  display: block;
  width: min(100%, 300px);
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background: var(--color-bg-base);
}

.c-form__item textarea {
  width: min(100%, 600px);
  height: 200px;
}

.c-form__item select {
  font-size: 0.9375rem;
  font-weight: 600;
}

.c-form__button {
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
}

/*!
component > _section.scss
--------------------------------
*/
.l-section {
  -webkit-padding-before: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
          padding-block-start: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
  -webkit-padding-after: clamp(5rem, 4.34rem + 2.82vw, 6.875rem);
          padding-block-end: clamp(5rem, 4.34rem + 2.82vw, 6.875rem);
}

/*!
layout > _container.scss
--------------------------------
*/
.l-container {
  width: var(--content-width);
  margin-inline: auto;
}

.l-container-xs {
  width: var(--content-width-xs);
  margin-inline: auto;
}

.l-container-sm {
  width: var(--content-width-sm);
  margin-inline: auto;
}

.l-container-lg {
  width: var(--content-width-lg);
  margin-inline: auto;
}

/*!
layout > _header.scss
--------------------------------
*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding-inline: 4%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: var(--z-index-header);
}
@media (width >= 768px) {
  .header {
    height: 86px;
  }
}

.js-header.is-active {
  background: var(--color-bg-main);
}

.header__logo {
  width: min(100%, 120px);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__nav {
  position: fixed;
  inset: 0;
  translate: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--color-bg-nav);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: translate 0.3s, visibility 0.3s, opacity 0.3s;
  transition: translate 0.3s, visibility 0.3s, opacity 0.3s;
}
@media (width >= 768px) {
  .header__nav {
    position: static;
    display: block;
    background: transparent;
    translate: 0;
    visibility: visible;
    opacity: 1;
  }
}

.js-header__nav.is-active {
  translate: 0;
  visibility: visible;
  opacity: 1;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (width >= 768px) {
  .header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__nav-link {
  position: relative;
  display: block;
  color: var(--color-font-light);
  text-transform: uppercase;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--color-bg-base);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  scale: 0 1;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}

@media (any-hover: hover) {
  .header__nav-link:hover::after {
    scale: 1 1;
  }
}
.hamburger {
  position: relative;
  width: 40px;
  aspect-ratio: 1;
}
@media (width >= 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line,
.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 100vmax;
  background: var(--color-bg-base);
  -webkit-transition: background-color 0.3s, top 0.3s, rotate 0.3s;
  transition: background-color 0.3s, top 0.3s, rotate 0.3s;
}

.hamburger__line::before {
  content: "";
  top: -7px;
}

.hamburger__line::after {
  content: "";
  top: 9px;
}

.js-hamburger.is-active .hamburger__line {
  background: transparent;
}

.js-hamburger.is-active .hamburger__line::before {
  top: 0;
  rotate: 45deg;
}

.js-hamburger.is-active .hamburger__line::after {
  top: 0;
  rotate: -45deg;
}

/*!
layout > _footer.scss
--------------------------------
*/
.footer {
  position: sticky;
  top: 100%;
  padding-block: 60px;
  background: var(--color-bg-dark);
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.footer__nav-item {
  font-family: var(--font-family-en);
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-font-light);
}

.footer__copyright {
  display: block;
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  font-size: 0.625rem;
  line-height: 1.125;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-font-main);
}

/*!
page > top > _top-mv.scss
--------------------------------
*/
.top-mv {
  position: relative;
  display: grid;
  place-items: center;
  height: 100dvh;
}

.top-mv__image {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-bg);
}

.top-mv__image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.top-mv__title {
  font-size: clamp(1rem, 0.824rem + 0.75vw, 1.5rem);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: var(--color-font-light);
}
@media (width >= 768px) {
  .top-mv__title {
    text-align: center;
  }
}

.top-mv__title--sub {
  display: block;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  font-size: clamp(2.5rem, 1.796rem + 3vw, 4.5rem);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.top-mv__button {
  -webkit-margin-before: clamp(1.875rem, 1.435rem + 1.88vw, 3.125rem);
          margin-block-start: clamp(1.875rem, 1.435rem + 1.88vw, 3.125rem);
  text-align: center;
}

/*!
page > top > _top-news.scss
--------------------------------
*/
.top-news {
  padding-block: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
}

.top-news__inner {
  display: grid;
  gap: 30px;
}
@media (width >= 768px) {
  .top-news__inner {
    grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}

/*!
page > top > _top-service.scss
--------------------------------
*/
.top-service {
  -webkit-padding-before: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
          padding-block-start: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
  -webkit-padding-after: clamp(2.188rem, 1.527rem + 2.82vw, 4.063rem);
          padding-block-end: clamp(2.188rem, 1.527rem + 2.82vw, 4.063rem);
}

.top-service__inner {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.top-service__title {
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
}

.top-service__text {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
}
@media (width >= 768px) {
  .top-service__text {
    -webkit-margin-before: 15px;
            margin-block-start: 15px;
  }
}

/*!
page > top > _top-works.scss
--------------------------------
*/
.top-works {
  -webkit-padding-before: clamp(2.188rem, 1.527rem + 2.82vw, 4.063rem);
          padding-block-start: clamp(2.188rem, 1.527rem + 2.82vw, 4.063rem);
}

.top-works__inner {
  position: relative;
}
@media (width >= 768px) {
  .top-works__inner {
    display: grid;
    grid-template-columns: 57% 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-block: 60px 90px;
  }
}

.top-works__inner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-bg-accent);
  z-index: var(--z-index-bg);
}
@media (width >= 768px) {
  .top-works__inner::after {
    width: 60%;
    margin-left: auto;
  }
}

.top-works__swiper {
  position: relative;
}

.swiper-button-prev {
  rotate: 180deg;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-bg-main);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -26px;
  text-align: right;
}

.swiper-pagination-bullet-active {
  background: var(--color-bg-main);
}

.top-works__desc {
  padding-block: 48px 60px;
  padding-inline: 4%;
}

/*!
page > top > _top-recruit.scss
--------------------------------
*/
.top-recruit {
  -webkit-padding-after: clamp(2.5rem, 0.96rem + 6.57vw, 6.875rem);
          padding-block-end: clamp(2.5rem, 0.96rem + 6.57vw, 6.875rem);
}

.top-recruit__inner {
  display: grid;
}
@media (width >= 768px) {
  .top-recruit__inner {
    grid-template-columns: 1fr 40%;
    direction: rtl;
  }
}

.top-recruit__image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.top-recruit__desc {
  padding-block: 70px;
  background: var(--color-bg-accent);
}

/*!
page > archive-news > _archive-news.scss
--------------------------------
*/
.archive-news__inner {
  display: grid;
  gap: 40px;
}

/*!
page > single-news > _single-news.scss
--------------------------------
*/
.single-news h2 {
  -webkit-margin-before: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
          margin-block-start: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
  font-size: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);
  font-weight: 400;
  line-height: 1.5;
}

.single-news__info {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
}

.single-news__image {
  -webkit-margin-before: clamp(1.25rem, 1.03rem + 0.94vw, 1.875rem);
          margin-block-start: clamp(1.25rem, 1.03rem + 0.94vw, 1.875rem);
}

.single-news h3 {
  position: relative;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-margin-before: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
          margin-block-start: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
  font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
  font-weight: 600;
  line-height: 1.5;
}

.single-news h3::before {
  content: "";
  position: absolute;
  top: calc(50% - 19px);
  left: 0;
  width: 6px;
  height: 38px;
  border-radius: 100vmax;
  background: var(--color-bg-main);
}

.single-news h4 {
  -webkit-margin-before: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
          margin-block-start: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
  font-size: clamp(0.938rem, 0.893rem + 0.19vw, 1.063rem);
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 0.018em;
}

.single-news p {
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}

.single-news p + p {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.single-news__pager-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  padding-block: 15px;
  border-top: 1px solid var(--color-bg-accent);
  border-bottom: 1px solid var(--color-bg-accent);
}

.single-news__pager-link {
  display: block;
  padding: 20px 10px;
  font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
  color: var(--color-font-main);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (any-hover: hover) {
  .single-news__pager-link:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    background: var(--color-bg-accent);
  }
}
.single-news__pager-item:not(:first-child) {
  border-left: 1px solid var(--color-bg-accent);
}

/*!
page > service > _service.scss
--------------------------------
*/
.service__title {
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}
@media (width >= 768px) {
  .service__title {
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
}

.service__text {
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}
@media (width >= 768px) {
  .service__text {
    -webkit-margin-before: 20px;
            margin-block-start: 20px;
  }
}

/*!
page > works > _works.scss
--------------------------------
*/
.works__title {
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

/*!
page > company > _company-info.scss
--------------------------------
*/
.company-info__map {
  -webkit-margin-before: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
          margin-block-start: clamp(2.5rem, 2.06rem + 1.88vw, 3.75rem);
  aspect-ratio: 325/240;
}
@media (width >= 768px) {
  .company-info__map {
    aspect-ratio: 1110/400;
  }
}

.company-info__map iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.company-info__link {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--color-font-main);
}

@media (any-hover: hover) {
  .company-info__link:hover {
    text-decoration: underline;
  }
}
/*!
page > recruit > _recruit-bg-image.scss
--------------------------------
*/
.recruit-bg-image {
  background-image: url(../images/bg-recruit__pattern@2x.png);
  background-position: center top;
  background-repeat: repeat;
  background-size: 400px 400px;
}

/*!
page > recruit > _recruit.scss
--------------------------------
*/
.recruit {
  -webkit-padding-before: clamp(3.75rem, 3.09rem + 2.82vw, 5.625rem);
          padding-block-start: clamp(3.75rem, 3.09rem + 2.82vw, 5.625rem);
}

.recruit__title {
  font-size: clamp(1.125rem, 0.817rem + 1.31vw, 2rem);
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--color-font-main);
}

.recruit__sub-title {
  display: block;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  font-family: var(--font-family-en);
  font-size: clamp(3rem, 2.472rem + 2.25vw, 4.5rem);
  font-weight: bold;
  line-height: 1;
}

.recruit__text {
  -webkit-margin-before: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
          margin-block-start: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
  text-align: center;
}

.recruit__image {
  overflow: hidden;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  aspect-ratio: 375/214;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}
@media (width >= 768px) {
  .recruit__image {
    aspect-ratio: inherit;
    max-height: 824px;
  }
}

.recruit__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  height: 100%;
}

/*!
page > recruit > _recruit-info.scss
--------------------------------
*/
.recruit-info {
  padding-block: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
}

.company-info__inner {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  padding-block: clamp(1.875rem, 1.215rem + 2.82vw, 3.75rem);
  padding-inline: clamp(1.25rem, -0.401rem + 7.04vw, 5.938rem);
  border-radius: 6px;
  border: 1px solid var(--color-bg-main);
  background: var(--color-bg-base);
}

.recruit-info__title {
  font-size: clamp(1.25rem, 1.162rem + 0.38vw, 1.5rem);
  letter-spacing: 0.05em;
  text-align: center;
}

.recruit-info__list {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  padding-left: 1em;
  list-style: revert;
}

.recruit-info__button {
  -webkit-margin-before: clamp(2.5rem, 2.28rem + 0.94vw, 3.125rem);
          margin-block-start: clamp(2.5rem, 2.28rem + 0.94vw, 3.125rem);
}

.recruit-info__comment {
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-align: center;
}

/*!
page > recruit > _recruit-move.scss
--------------------------------
*/
.recruit-move {
  -webkit-padding-before: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
          padding-block-start: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
  -webkit-padding-after: clamp(5rem, 4.34rem + 2.82vw, 6.875rem);
          padding-block-end: clamp(5rem, 4.34rem + 2.82vw, 6.875rem);
}

.recruit-move__inner {
  -webkit-margin-before: clamp(1.875rem, 1.655rem + 0.94vw, 2.5rem);
          margin-block-start: clamp(1.875rem, 1.655rem + 0.94vw, 2.5rem);
}

.recruit-move__video {
  aspect-ratio: 16/9;
}

.recruit-move__video iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

/*!
page > contact > _contact.scss
--------------------------------
*/
.contact__text {
  text-align: center;
}

.contact__inner {
  -webkit-margin-before: clamp(1.875rem, 1.655rem + 0.94vw, 2.5rem);
          margin-block-start: clamp(1.875rem, 1.655rem + 0.94vw, 2.5rem);
  padding: clamp(1.875rem, 0.555rem + 5.63vw, 5.625rem);
  background: var(--color-bg-accent);
}/*# sourceMappingURL=style.css.map */