@use "../../global" as g;

/*!
page > top > _top-news.scss
--------------------------------
*/

.top-news {
  padding-block: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
}

.top-news__inner {
  display: grid;
  gap: 30px;
  @include g.media(md) {
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 50px;
  }
}
