@use "../../global" as g;

/*!
page > recruit > _recruit-move.scss
--------------------------------
*/

.recruit-move {
  padding-block-start: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);
  padding-block-end: clamp(5rem, 4.34rem + 2.82vw, 6.875rem);
}

.recruit-move__inner {
  margin-block-start: clamp(1.875rem, 1.655rem + 0.94vw, 2.5rem);
}

.recruit-move__video {
  aspect-ratio: 16/9;
}

.recruit-move__video iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
