@use "../../global" as g;

/*!
page > service > _service.scss
--------------------------------
*/

.service__title {
  margin-block-start: 20px;
  @include g.media(md) {
    margin-block-start: 0;
  }
}

.service__text {
  margin-block-start: 15px;
  @include g.media(md) {
    margin-block-start: 20px;
  }
}
